extends ../base.pug

block content
  .d-flex.justify-content-center.align-items-center
    .center.container
      form(method="post", role="form", id="loginForm")
        h2.text-center.mt-5 Connectez-vous

        article
          .form-group.mb-3
            label(for="email") Adresse mail:
            input.form-control(type="text", id="email", name="email", required)

          .form-group.mb-3
            label(for="password") Mot de passe:
            input.form-control(type="password", id="password", name="password", required)

          div.text-center.mb-3
            button.btn.btn-primary(type="submit") Me connecter
          p#alert-message

        p.mb-0.text-center Vous n'avez pas de compte ?
        a.d-block.text-center.mb-5(href="/users/register") Créer un compte
  script(src="/js/login.js")