/* <!-- NavBar --> */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #f94ca4;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

a#logOut {
    color: white; 
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.image {
    float: left;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 8px;
    }
}

@media (max-width: 1280px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        color:white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* <!-- Footer --> */

footer {
    background: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
}

.footer-content h1 {
    text-transform: capitalize;
    margin-left: 70px;
    margin-bottom: 20px;
}

.footer-content p {
    max-width: 800px;
    line-height: 28px;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 70px;
    margin-bottom: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 50%;
}

.image img {
    max-width: 150px;
    height: auto;
    margin-top: 15px;
    margin-right: 50px;
}

.socials {
    text-align: right;
    margin-right: 70px;
    margin-top: 25px;
}

.socials li {
    margin: 0 10px;
    display: inline;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.5rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: #f94ca5;
}

.footer-bottom {
    background: #808080;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    flex-basis: 100%;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

@media (max-width: 1280px) {
    .footer-content {
      max-width: 100%;
      margin-right: 20px;
    }
  
    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50%;
    }
  
    .socials {
        text-align: center;
        margin: 20px 0;
      }
    
      .socials li {
        margin: 0 15px;
      }
    
      .socials a i {
        font-size: 1.5rem;
      }
    }

/* <!-- Tableau --> */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table caption {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table th, .table td {
    width: 14%;
  }

  .container {
    margin-left: 20px; 
    margin-right: 20px;
  }

/* <!-- Advert --> */

/* .grid{
    display:flex;
    flex-wrap: wrap;
    width: 100%     ;
    flex-direction: row;
    gap: 5%;
}

.advert{
    background-color: lightblue;
    height:250px;
    width: 45%;
    justify-content: center;
    margin-bottom:60px;
    border-radius: 10px;
    margin-left:18px;
    margin-top:20px;
}

@media (max-width: 767px) {
    .advert{
        background-color: lightblue;
        height:200px;
        width: 95%;
        justify-content: center;
        margin-bottom:20px;
        border-radius: 10px;
        margin-left:18px;
        margin-top:20px;
    }
}

 /* <!-- Button adverts --> */


/* <!-- Form buttons --> */

    /* .button2{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid blue;
    color: #fff;
    background-color: blue;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    }
    
    .button2:hover{
        background: lightblue;
        color: blue;
    } */

/* <!-- Title --> */

 /* .waviy {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.5s * var(--i))
  }
  @keyframes flip {
    0%,1% {
      transform: rotateY(360deg) 
    }
  } 



<!-- Container --> */

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    height: 70vh;
    background-color: lightblue;
    padding: 20px;
    margin:30px;
    box-shadow: 6px 6px 0px lightgray;
}

.center{
    display: inline-block;
} */