extends ../base.pug

block content
  div.container
    div.form-group.mb-3.text-center
      h1.text-decoration-underline.mb-5 Créer une annonce
    form.bg-light(id="create_advert")
      div.form-group.mb-3
        label(for="title") Titre de l'annonce:
        input(type="text" class="form-control" id="title")
      div.form-group.mb-3
        label(for="companies") Liste des entreprises
        select(name="companies" id="companies" class="form-control") 
          each company in companiesList 
            option(value=company.CompanyID) #{company.Name}
      div.form-group.mb-3
        label(for="wages") Salaire:
        input(type="text" class="form-control" id="wages")
      div.form-group.mb-3
        label(for="place") Lieu:
        input(type="text" class="form-control" id="place")
      div.form-group.mb-3
        label(for="short-description") Courte description du poste:
        textarea(name="short-description", cols="30", rows="10" class="form-control" id="short-description")
        label(for="long-description") Longue description du poste:
        textarea(name="long-description", cols="30", rows="10" class="form-control" id="long-description")
      div.form-group.mb-3
        label(for="type") Type de contrat:
        input(type="text" class="form-control" id="type")
      div.form-group.mb-3
        label(for="date") Date du jour:
        input(type="date" class="form-control" id="date")
      div.text-center.mb-3
        button.btn.btn-primary Publier l'annonce
    
  script(src="/js/create_advert.js")
